.document-copy {
    margin-top: 50px;
    font-size: 20px;
}



@media (max-width: 800px) {
    .document-container {
        min-height: 700px;
        margin: 5% 20%;
    }
    .document-links {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .document-links div {
        padding-top: 20px
    }
}

@media (min-width: 800px) {
    .document-container {
        min-height: 700px;
        margin: 5% 20%;
    }
    .document-links {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
}

