.footer-container {
    padding: 20px;
    text-align: center;
}

[data-theme="dark"] .footerLink {
    color: white;
    text-decoration: none;
}

[data-theme="light"] .footerLink {
    color: black;
    text-decoration: none;
}