@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,600);

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --bg-color: #3F3F3F;
  --text-color: #fff;
}

.mainContainer {
  font-family: Roboto, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}